<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ke.co.milleradulu.milleradulu.fadhili">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".LoginActivity" />
    <activity android:name=".HomeActivity" />
    <activity android:name=".donation.shop.DonationShopActivity">

    </activity>
    <activity
      android:name=".SignupActivity"
      android:label="@string/title_activity_signup"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".posts.PostsActivity"
      android:label="@string/title_activity_posts"
      android:theme="@style/AppTheme.NoActionBar"></activity>
    <activity android:name=".posts.PostActivity" />
    <activity android:name=".donation.DonationPackageActivity" />
    <activity android:name=".donation.checkout.CartActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>